html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');/* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.card.noMatch {
  background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.result-text {
  display: inline;
  margin-left: 7%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
}

.timer {
  margin-left: 7%;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.game-star {
  color: #ffa100;
}


/*
*Styles for modal
Some Modal styles referenced from w3school.com
*/

.modal {
  display: none;/* Hidden by default */
  position: fixed;
  z-index: 1;/* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 2px 2px 2px 2px lightgray;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: 50px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: 50px;
    opacity: 0
  }
  to {
    top: 0px;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Modal header and footer */
.modal-content {
  padding: 2px 16px;
  background-color: #581845;
  color: white;
}

h2{
  text-align:center;
}

img{
  margin-left: 45%;
}

.displayMoves, .displayTime, .displayStars{
  font-size: 20px;
  text-align: center;
  font-family: serif;
}

/*Play again button in Modal */
button {
  background-color: #581845;
  color: white;
  border: none;
  margin-left: 35%;
  padding: 2%;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.4s;
}

button:hover {
  color: #581845;
  background-color: white;
  transition: 0.4s;
  border-radius: 20px;
  cursor: pointer;
}

/* Media Queries for small devices */
@media only screen and (max-width: 750px) {
  .deck {
    max-width: 300px;
    min-height: auto;
    padding-bottom: 17px;
  }
  .deck .card {
    height: 51px;
    width: 51px;
    margin-bottom: 16px;
  }
  .score-panel {
    max-width: 80%;
    padding-bottom: 0;
    display: block;
    text-align: center;
    line-height: 2em;
  }
  .result-text {
    font-size: 12px;
    margin-left: 2%;
  }
  .modal {
    padding-top: 50px;
    height: auto;
    width: 500px;
  }
  .modal-content {
    width: 100%;
    margin: 0;
  }
  .modal-body {
    width: 77%;
  }
  img {
    margin-left: 35%;
  }
  button {
    margin-left: 25%;
  }
  h2 {
    margin-left: -25%;
  }
  .close {
    float: none;
  }

  @-webkit-keyframes animatetop {
    from {
      top: 50px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }
  @keyframes animatetop {
    from {
      top: 400px;
      opacity: 0
    }
    to {
      top: 0px;
      opacity: 1
    }
  }
}
